$fontOpen: 'Open Sans', Arial, Helvetica, sans-serif;
$fontRal: 'Raleway', Arial, Helvetica, sans-serif;
$colorRed: #e84545;
$colorBlue: #2d3033;
$colorGray: #6c7279;
$colorLightGray: #cacaca;
$colorfoot1: #3a3e64;
$colorfoot2: #313454;

@mixin button () {
  border: none;
  background-color: $colorRed;
  border-radius: 4px;
  height: 48px;
  cursor: pointer;
  color: white;
  font-family: $fontRal;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease;
  &:hover {
    background-color: white;
    color: $colorRed;
  }
}
@mixin social (){
  height: 40px;
  width: 40px;
  margin: auto;
  outline: none;
  background: transparent;
}

@mixin font-h2 (){
  font-family: $fontRal;
  font-size: 14px;
  font-weight: 700;
  color: $colorBlue;
  text-transform: uppercase;
}
@mixin font-p (){
  font-family: $fontRal;
  font-size: 14px;
  color: $colorGray;
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: absolute;
  background: transparent;
  box-sizing: border-box;
  .header-content {
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 38px 0;
    .header-logo {
      padding: 0;
      margin-left: 15px;
      height: 23px;
      width: 189px;
    }
    .header-menu {
      margin: 0;
      padding: 0;
      nav {
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 0;
          a {
            text-decoration: none;
            margin: 0 30px;
            color: rgba(255, 255, 255, 0.75);
            font-family: $fontRal;
            font-size: 13px;
            font-weight: bold;
            li {
              transition: all 0.5s ease;
            }
            li:hover {
              color: $colorRed
            }
          }
          a:last-of-type {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.main {
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .main-content {
    padding-top: 267px;
    max-width: 970px;
    h1 {
      margin: auto;
      font-family: $fontOpen;
      font-size: 65px;
      line-height: 1.1;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      padding-bottom: 30px;
    }
    p {
      font-family: $fontRal;
      font-size: 22px;
      line-height: 1.5;
      color: white;
      padding-bottom: 66px;
      margin: 0;
    }
    button {
      @include button();
      width: 200px;
      margin-bottom: 156px;
    }
  }
}

.features-content {
    padding-top: 120px;
    padding-bottom: 50px;
    box-sizing: border-box;
    .feature-single {
      padding: 0 40px;
      margin-bottom: 74px;
      img {
        margin-left: auto;
        margin-right: auto;
        transition: all 0.5s ease;
        text-align: center;
        &:hover {
          opacity: 0.6;
        }
      }
     h2 {
       @include font-h2 ();
       text-align: center;
       padding: 34px 0 26px 0;
       margin: 0;
     }
      p {
        @include font-p ();
        text-align: center;
        margin: 0;
      }
    }
  }

.works {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .work {
    width: 25%;
    height: (25vw/(350px/270px));
    background-position: center;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    &:nth-of-type(4n) {
      border-right: none;
    }
    &:hover .inner-text {
      display: flex;
      background: rgba(232, 69, 69, 0.8);
      height: (25vw/(350px/270px));
    }
    .inner-text {
      display: none;
      margin: 0;
      box-sizing: border-box;
      .inner-text-content {
        margin: auto;
      h2 {
        @include font-h2 ();
        text-align: center;
        color: white;
        margin: 0;
      }
      p {
        @include font-p ();
        text-align: center;
        color: white;
      }
      }
    }
  }
}

.team {
  padding-top: 102px;
  padding-bottom: 100px;
  box-sizing: border-box;
  .person {
    padding-bottom: 30px;
  }
  img {
    width: 100%;
  }
  .name {
    font-family: $fontRal;
    font-size: 22px;
    color: $colorBlue;
    padding-top: 32px;
  }
  .job {
    font-family: $fontRal;
    font-size: 13px;
    color: $colorRed;
    text-transform: uppercase;
  }
  .team-text {
    @include font-p ();
    line-height: 1.5;
  }
  .social  {
    @include social;
    border: $colorLightGray 1px solid;
    transition: all 0.5s ease;
    &:hover {
      background-color: $colorGray;
    }
    i {
      color: $colorLightGray;
      font-size: 18px;
      }
    }
}

.content-box {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .client-photo, .client {
      width: 50%;
    }
    .client-photo {
      background-position: center;
      background-size: cover;
    }
    .client {
      background-color: #53354a;
      .client-description {
        max-width: 590px;
        padding-top: 115px;
        padding-left: 85px;
        color: white;
        box-sizing: border-box;
        margin-right: 15px;
        .client-text {
          font-family: 'Cardo', serif;
          font-size: 36px;
        }
        .client-name {
          @include font-h2();
          color: white;
          font-size: 13px;
          padding-bottom: 182px;
        }
      }
    }
  }
}

.tab{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #755d6e;
  cursor: pointer;
  margin: 0 2px;
}
.tab-main {
  position: relative;
  .tabs {
    position: absolute;
    left: 65%;
    bottom: 19%;
  }
}


.tab:hover{
  background: white;
}
.content-box .content{
  display: none;
  height: 100%;
  width: 100%;
}

input[type="radio"]{
  display: none;
}

input#one:checked ~ .tabs .tab._1,
input#two:checked ~ .tabs .tab._2,
input#three:checked ~ .tabs .tab._3,
input#four:checked ~ .tabs .tab._4,
input#five:checked ~ .tabs .tab._5 {
  background: white;
}

input#one:checked ~ .content-box .content._1,
input#two:checked ~ .content-box .content._2,
input#three:checked ~ .content-box .content._3,
input#four:checked ~ .content-box .content._4,
input#five:checked ~ .content-box .content._5 {
  display: flex;
}


.download {
  margin: auto;
  padding: 100px 0;
  box-sizing: border-box;
  text-align: center;
  h3 {
    font-family: $fontRal;
    font-size: 28px;
    font-weight: 300;
  }
  p {
    @include font-h2 ();
    line-height: 1.5;
    font-size: 13px;
    margin-bottom: 40px;
  }
  button {
    @include button ();
    width: 280px;
    &:hover {
      border: 2px solid $colorRed
    }
  }
}
.contacts {
  background-color: $colorfoot1;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  color: white;
  .footer-single {
    padding-bottom: 20px;
  }
  .footer-header {
    font-family: $fontRal;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .footer-text {
    font-family: $fontRal;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.5;
    margin: 0;
  }
  .social {
    @include social();
    color: white;
    font-size: 17px;
    outline: none;
    border: 2px solid white;
    &:hover {
    background-color: #e84545;
    }
  }
}
.copyright {
  background-color: $colorfoot2;
  margin: auto;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
  .footer-text {
    font-family: $fontRal;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    i {
      color: #e84545;
    }
    .creator {
      color: white;
    }
  }
}


@media (max-width: 765px) {
  .main {
    .main-content {
      padding-top: 200px;
      margin-left: 15px;
      margin-right: 15px;

      h1 {
        font-size: 35px;
      }

      p {
        padding-bottom: 30px;
      }

      button {
        margin-bottom: 60px;
        font-size: 16px;
      }
    }
  }
  .features-content {
    padding-top: 40px;
    padding-bottom: 40px;

    .feature-single {
      margin-bottom: 40px;

      h2, p {
        font-size: 16px;
      }
    }
  }
  .works {
    .work {
      width: 100%;
      height: (100vw/(350px/270px));
      border-right: none;
      &:hover .inner-text {
        height: (100vw/(350px/270px));
      }
      .inner-text {
        .inner-text-content
        h2 {
          font-size: 20px;
        }
      }
      }
    }
  .team {
    .job {
      font-size: 15px;
    }
    .team-text {
      font-size: 16px;
    }
  }
  .download {
    padding: 50px 0;
    margin-left: 15px;
    margin-right: 15px;
    p {
      font-size: 14px;
    }
    button {
      font-size: 16px;
    }
  }
  .contacts {
    padding: 30px 0;
    .footer-header,.footer-text {
      font-size: 16px;
    }
  }
  .copyright {
    padding: 20px 0;
    .footer-text {
      font-size: 15px;
    }
  }
  .content-box .content .client {
    width: 100%;
  }
  .content-box .content .client-photo {
    display: none;
  }
  .tab-main {
    .tabs {
      left: 30%;
      bottom: 19%;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    .main-content {
      padding-top: 150px;
      margin-left: 15px;
      margin-right: 15px;

      h1 {
        font-size: 40px;
      }

      p {
        padding-bottom: 30px;
      }

      button {
        margin-bottom: 60px;
      }
    }
  }
  .features-content {
    padding-top: 40px;
    padding-bottom: 40px;

    .feature-single {
      margin-bottom: 40px;

      h2, p {
        font-size: 16px;
      }
    }
  }
  .works {
    .work {
      width: 50%;
      height: (50vw/(350px/270px));

      &:hover .inner-text {
        height: (50vw/(350px/270px));
      }

      .inner-text {
        .inner-text-content
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  .team {
    .job {
      font-size: 15px;
    }

    .team-text {
      font-size: 16px;
    }
  }
  .download {
    padding: 50px 0;
    margin-left: 15px;
    margin-right: 15px;

    p {
      font-size: 14px;
    }

    button {
      font-size: 16px;
    }
  }
  .contacts {
    padding: 30px 0;

    .footer-header, .footer-text {
      font-size: 16px;
    }
  }
  .copyright {
    padding: 20px 0;

    .footer-text {
      font-size: 15px;
    }
  }
  .content-box .content .client .client-description .client-text {
    font-size: 25px;
  }
  .content-box .content .client .client-description .client-name {
    font-size: 15px;
  }
  .content-box .content .client .client-description {
    padding-top: 60px;
    padding-left: 30px;
    margin-right: 20px;
  }
  .tab {
    width: 20px;
    height: 20px;
  }
}
